.link {
  width: 100%;
  padding: 20px 0;
  // background: #fff;
  // border-left: 4px solid #6290c2;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  span {
    position: relative;
    top: -4px;
    margin-left: 16px;
    color: #5d6d77;
  }
}

.activeLink {
  width: 100%;
  padding: 20px 0;
  background: #fff;
  border-left: 4px solid #6290c2;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  span {
    position: relative;
    top: -4px;
    margin-left: 16px;
  }
}
