// component styles
.background {
  grid-area: menu;
  background: #f7f7f7;
  transform: translateX(0);
  transition: transform 0.3s ease;
}

.container {
  width: 78%;
  margin: 0 auto;
  margin-bottom: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hidden {
  transform: translateX(-400px);
  transition: transform 0.3s ease;
}

// specific styles
.title {
  padding: 12px 0 4px 0;
  font-size: 1.6rem;
  line-height: 32px;
  color: #5d6d77;
}
